@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.background {
  background-color: #eae8e8;
  background-image:
      radial-gradient(farthest-side at -20% 10%, rgba(78, 78, 78, 0.7) 0, transparent 50%),
      radial-gradient(farthest-corner at 120% 120%, rgba(0, 0, 0, 0.7) 0, transparent 40%);
}

h1 {
  @apply tracking-widest font-[400] uppercase
}

.diplay-wallet {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-box {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 16px;
  background: #FFFFFF;

  box-shadow: 0px 10px 20px 5px rgba(218, 217, 227, 0.31);

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.create-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 14px;
  gap: 8px;

  width: 650px;
  height: 44px;

  filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));

  flex: none;
  align-self: stretch;
  flex-grow: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #2D2D32;
}

.hard-shadow {
  box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.5), -0.5rem -0.5rem rgba(124, 55, 243, 0.5);
}

.prompt-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 14px;
  gap: 8px;

  height: 40px;

  filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));

  flex: none;
  align-self: stretch;
  flex-grow: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #2D2D32;
}

input:focus, textarea:focus {

  color: #ffffff;
  background-color: #000000;

  }

  ::-moz-selection { background-color: #ffffff; 
    color: #000000; } 
    ::selection { background-color: #fffefe; 
    color: #000000; }


.loading {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
    /* transform: rotate(3deg); */
    /* transform: rotate(0.3rad);/ */
    /* transform: rotate(3grad); */ 
    /* transform: rotate(.03turn);  */
}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}